/* CCSTheme v 3.x */
/* General */



.HeaderSoftLab {
	width: 100%;
	}

.HeaderSoftLab th { 
	font-family: Verdana; font-size: 110%; font-weight: bold; text-align: left;
	padding: 3px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}

.HeaderSoftLab a:link { 
	color: #ffffff;
	}

.HeaderSoftLab a:visited { 
	color: #ffffff;
	}

.HeaderSoftLab a:hover, .Caption a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftSoftLab { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightSoftLab { 
	background-image: url('Images/HeaderRight.gif');
	}

.HeaderLeftSoftLab img{
	width: 7px;
	}

.HeaderRightSoftLab img{
	width: 14px;
	}


/* Grid Options */
.GridSoftLab { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.CaptionSoftLab th { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionSoftLab td { 
	font-family: Verdana; font-size: 80%; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionSoftLab a:link { 
	color: #000000;
	}

.CaptionSoftLab a:visited { 
	color: #000000;
	}

.CaptionSoftLab a:hover, .Caption a:active { 
	color: #ff0000;
	}

.CaptionSoftLab img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionSoftLab input {
	vertical-align: middle;
	}

.RowSoftLab th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}

.RowSoftLab a:link { 
	color: #1262b2;
	}

.RowSoftLab a:visited { 
	color: #73aae6;
	}

.RowSoftLab a:hover, .Row a:active { 
	color: #ff0000;
	}

.SeparatorSoftLab{
	color: #3d84cc;
	}

.SeparatorSoftLab td{
	height: 1px;
	}


.AltRowSoftLab th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	background-color: #deebf7; 
	color: #000000;
	}

.AltRowSoftLab a:link { 
	color: #1262b2;
	}

.AltRowSoftLab a:visited { 
	color: #73aae6;
	}

.AltRowSoftLab a:hover, .AltRow a:active { 
	color: #ff0000;
	}

.NoRecordsSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.FooterSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border: 1px solid #a9cdf2; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.FooterSoftLab a:link { 
	color: #000000;
	}

.FooterSoftLab a:visited { 
	color: #000000;
	}

.FooterSoftLab a:hover, .Footer a:active { 
	color: #ff0000;
	}

.FooterSoftLab img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterSoftLab input {
	vertical-align: middle;
	}

/* Record Options */
.RecordSoftLab { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.ErrorSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}

.ControlsSoftLab th { 
	font-family: Verdana; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}

.BottomSoftLab td { 
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border: 1px solid #a9cdf2; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.BottomSoftLab a:link { 
	color: #000000;
	}

.BottomSoftLab a:visited { 
	color: #000000;
	}

.BottomSoftLab a:hover, .Caption a:active { 
	color: #ff0000;
	}

.BottomSoftLab img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomSoftLab input {
	vertical-align: middle;
	}

/* Report */
.GroupCaptionSoftLab th{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	white-space: nowrap;
	text-align: left; 
	vertical-align: top;
	font-weight: bold;
	background-color: #deebf7; 
	color: #000000;
	}

.GroupCaptionSoftLab td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}

.GroupCaptionSoftLab a:link {
	color: #000000;
	}

.GroupCaptionSoftLab a:visited{
	color: #000000;
	}

.GroupCaptionSoftLab a:hover, .GroupCaption a:active{
	color: #ff0000;
	}

.GroupFooterSoftLab td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border: 1px solid #a9cdf2; border-left: 0px none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #a9cdf2; 
	color: #000000;
	}

.GroupFooterSoftLab a:link {
	color: #000000;
	}

.GroupFooterSoftLab a:visited{
	color: #000000;
	}

.GroupFooterSoftLab a:hover,.GroupFooter a:active{
	color: #ff0000;
	}

.GroupFooterSoftLab img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterSoftLab input {
	vertical-align: middle;
	}

.SubTotalSoftLab td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	font-weight: bold;
	background-color: #deebf7; 
	color: #000000;
	border-bottom: 2px solid #3d84cc;
	}

.SubTotalSoftLab a:link {
	color: #1262b2;
	}

.SubTotalSoftLab a:visited{
	color: #73aae6;
	}

.SubTotalSoftLab a:hover, .SubTotal a:active{
	color: #ff0000;
	}

.TotalSoftLab td{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #deebf7; 
	color: #000000;
	}

.TotalSoftLab a:link {
	color: #1262b2;
	}

.TotalSoftLab a:visited{
	color: #73aae6;
	}

.TotalSoftLab a:hover, .Total a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonSoftLab { 
	margin: 2px
	}

/* Calendar */

.CalendarSoftLab { 
	border: 2px solid #3d84cc;
	width: 100%;
	}

.CalendarWeekdayNameSoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #deebf7; 
	color: #000000;
	}

.CalendarWeekdayNameSoftLab a:link {
	color: #1262b2;
	}

.CalendarWeekdayNameSoftLab a:visited{
	color: #73aae6;
	}

.CalendarWeekdayNameSoftLab a:hover, .CalendarWeekdayName a:active{
	color: #ff0000;
	}

.CalendarWeekendNameSoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #deebf7;	
	color: #000000;
	}

.CalendarWeekendNameSoftLab a:link {
	color: #000000;
	}

.CalendarWeekendNameSoftLab a:visited{
	color: #000000;
	}

.CalendarWeekendNameSoftLab a:link, .CalendarWeekendName a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDaySoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}

.CalendarDaySoftLab a:link {
	color: #1262b2;
	}

.CalendarDaySoftLab a:visited{
	color: #73aae6;
	}

.CalendarDaySoftLab a:hover, .CalendarDay a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendSoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	text-align: center;
	background-color: #deebf7;	
	color: #000000;
	}

.CalendarWeekendSoftLab a:link {
	color: #1262b2;
	}

.CalendarWeekendSoftLab a:visited{
	color: #73aae6;
	}

.CalendarWeekendSoftLab a:hover, .CalendarWeekend a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodaySoftLab {
	font-family: Verdana; font-size: 80%;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}

.CalendarTodaySoftLab a:link {
	color: #1262b2;
	}

.CalendarTodaySoftLab a:visited{
	color: #73aae6;
	}

.CalendarTodaySoftLab a:hover, .CalendarToday a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodaySoftLab {
	font-family: Verdana; font-size: 80%;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #deebf7;	
	color: #000000;
	}

.CalendarWeekendTodaySoftLab a:link {
	color: #1262b2;
	}

.CalendarWeekendTodaySoftLab a:visited{
	color: #73aae6;
	}

.CalendarWeekendTodaySoftLab a:hover, .CalendarWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDaySoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3d84cc;
	}

.CalendarOtherMonthDaySoftLab a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthDaySoftLab a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthDaySoftLab a:hover, .CalendarOtherMonthDay a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodaySoftLab {
	font-family: Verdana; font-size: 80%;
	border: 2px solid #3d84cc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3d84cc;
	}

.CalendarOtherMonthTodaySoftLab a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthTodaySoftLab a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthTodaySoftLab a:hover,.CalendarOtherMonthToday a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendSoftLab {
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	text-align: center;
	background-color: #deebf7;	
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendSoftLab a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendSoftLab a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendSoftLab a:hover, .CalendarOtherMonthWeekend a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodaySoftLab {
	font-family: Verdana; font-size: 80%;
	border: 2px solid #3d84cc;
	text-align: center;
	color: #3d84cc;
	background-color: #deebf7;	
	}

.CalendarOtherMonthWeekendTodaySoftLab a:link {
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodaySoftLab a:visited{
	color: #3d84cc;
	}

.CalendarOtherMonthWeekendTodaySoftLab a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDaySoftLab{
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	border-top: 1px solid #a9cdf2; border-right: 1px solid #a9cdf2;
	background-color: #a9cdf2;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}

.CalendarSelectedDaySoftLab a:link {
	color: #000000;
	}

.CalendarSelectedDaySoftLab a:visited{
	color: #000000;
	}

.CalendarSelectedDaySoftLab a:hover, .CalendarSelectedDay a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorSoftLab {
	font-family: Verdana; font-size: 80%;
	padding: 3px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.CalendarNavigatorSoftLab a:link {
	color: #1262b2;
	}

.CalendarNavigatorSoftLab a:visited{
	color: #73aae6;
	}

.CalendarNavigatorSoftLab a:hover, .CalendarNavigator a:active{
	color: #ff0000;
	}

.CalendarNavigatorSoftLab img{
	margin: 2px;
	vertical-align: middle; 	
	}

/* Calendar Extra */
.CalendarEventSoftLab{
	font-size: 80%;
	text-align: left;
	}

.CalendarEventSoftLab a:link {
	color: #1262b2;
	}

.CalendarEventSoftLab a:visited{
	color: #73aae6;
	}

.CalendarEventSoftLab a:hover, .CalendarEvent a:active{
	color: #ff0000;
	}
